.article-text {
    text-align: left;
    padding: 20px;
}

.article-title {
    padding-right: 20px;
    padding-left: 20px;
}

.source-button { 
    float: left;
}

.share-button {
    float: right;
}

.grid-button-article {
    margin-left: 15px;
    margin-right: 15px;
}

.comment-input-item {
    padding-bottom: 25px;
}

.comment-input {
    text-align: left;
}

.comment-button {
    margin-right: 10px;
    height: 90%;
    font-size: 20px;

}

.icon-send-comment {
    padding: 50px;
    //padding-bottom: 25px
}