<ion-menu side="end" menuId="menu" contentId="main-router">
  <ion-content>
    <h1 class="title">HubbleNews</h1>
    <div class="center" *ngIf="!userService.connected">
      <ion-button fill="outline" style="margin: auto;" (click)="signin()">Sign in</ion-button>
    </div>
    <div *ngIf="userService.connected" style="width: 85%; margin: auto;">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-avatar class="avatar">
              <img [src]="userService.user.img">
            </ion-avatar>
          </ion-col>
          <ion-col size="8">
            <div class="profile-container">
              <div class="center-profile">
                {{userService.user.username}}
                <p style="margin-top: 5px;">
                  <a class="pointer" routerLink="/profile" (click)="menu.close()">See profile</a>
                </p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <a class="pointer logout" (click)="userService.logout()">Logout</a>
    </div>
    <div class="center">
      <br/>
      <ion-button fill="outline" style="margin: auto;" (click)="menu.close()" routerLink='/iss'>ISS stream</ion-button>
    </div>
    <ion-range pin="true" min="0" max="100" color="secondary" [(ngModel)]="music" (ionChange)="musicChange()">
      <ion-label slot="start">Music</ion-label>
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>
  </ion-content>
</ion-menu>