.center {
    text-align: center;
}

.title {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.avatar {
    background-color: aliceblue;
}

.profile {
    margin-bottom: 10px;
}

.logout {
    margin-left: 18px;
}

.profile-containeer {
    position: relative;
}

.center-profile {
    margin: 0;
    position: absolute;
    top: calc(50% - 20px);
}

.connected-profile {
    width: 85%;
    margin-top: 10px;
    margin-left: 40px;
}

.sign-in-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.iss-stream-button {
    padding: auto;
    position: fixed;
    bottom: 40px;
    left: 60px;
    right: 60px;
}