<div>
  <a>{{err}}</a><br/>
  <form>
    <ion-input type="text" name="user" placeholder="Username" [(ngModel)]="username"></ion-input>
    <ion-input type="text" name="email" placeholder="Email" [(ngModel)]="email"></ion-input>
    <ion-input type="password" name="pass" placeholder="Mot de passe" [(ngModel)]="password"></ion-input>
    <ion-input type="password" name="pass2" placeholder="Confirmation du mot de passe" [(ngModel)]="passcheck"></ion-input>
    <ion-button (click)="signup()" type="submit">Inscription</ion-button>
  </form>
  <p>
      Déjà inscrit ? - 
    <a (click)="signin()">Se connecter</a>
  </p>
</div>