<ion-content>
  <img class="img" [src]="img" (click)="loadImageFromCamera()"/>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="source-button" fill="outline" [disabled]="sendingImage || !img || img == userService.user.img" (click)="sendImage()">Update</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="pic-button" fill="outline" (click)="loadImageFromCamera()">
          <ion-icon lazy="true" slot="start" name="image"></ion-icon>
          <ion-label slot="end">Choose picture</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form #form="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col class="col-element" size="5">
          <ion-item>
            <ion-label class="label-input">Username</ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="col-element" size="7">
          <ion-item>
            <ion-input class="text-input" type="text" name="username" placeholder="Username" [(ngModel)]="username" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="col-element" size="5">
          <ion-item>
            <ion-label class="label-input">Email</ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="col-element" size="7">
          <ion-item>
            <ion-input class="text-input" type="email" name="email" placeholder="Email" [(ngModel)]="email" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="col-element" size="5">
          <ion-item>
            <ion-label class="label-input">New password</ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="col-element" size="7">
          <ion-item>
            <ion-input class="text-input" type="password" name="newPass" placeholder="New password" [(ngModel)]="newPass"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="col-element" size="5">
          <ion-item>
            <ion-label class="label-input">Confirm password</ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="col-element" size="7">
          <ion-item>
            <ion-input class="text-input" type="password" name="confirmPass" placeholder="Confirm password" [(ngModel)]="confirmPass"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item-divider class="divider">
      </ion-item-divider>
      <ion-row>
        <ion-col class="col-element" size="5">
          <ion-item>
            <ion-label class="label-input">Current password</ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="col-element" size="7">
          <ion-item>
            <ion-input class="text-input" type="password" name="newPass" placeholder="Current password" [(ngModel)]="oldPass" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <a class="error">{{err}}</a>
        </ion-col>
        <ion-col>
          <ion-button fill='outline' [disabled]="form.invalid" type="submit" (click)="updateProfile()" block>CONFIRM CHANGES</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>