<ion-list>
  <ion-card *ngFor="let new of news">
    <ion-card-header>
      <ion-card-title>{{new.name}}</ion-card-title>
      <img [src]="new.thumbnail"/>
      <ion-card-subtitle>{{new.mission}} - {{new.publication | date:'dd/MM/yyyy'}}</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
</ion-list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Chargement...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>