<ion-list>
  <!--ion-card *ngFor="let new of news">
    <ion-card-header>
      <ion-card-title>{{new.name}}</ion-card-title>
      <ion-card-subtitle>{{new.mission}} - {{new.publication | date:'dd/MM/yyyy'}}</ion-card-subtitle>
    </ion-card-header>
  
    <img [src]="new.thumbnail"/>
  </ion-card-->
  <ion-item *ngFor="let new of news">
    <ion-label>{{new.name}}</ion-label>
    <ion-label>{{new.mission}} - {{new.publication | date:'dd/MM/yyyy'}}</ion-label>
    <img [src]="new.thumbnail"/>
  </ion-item>
</ion-list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Chargement...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>